uploads
log
test
public/pages
public/system
docker_volumes
node_modules
docker-compose*.yml
Dockerfile
.gitignore
.dockerignore
docs
vendor/development_bundler
.swarm_cluster*
.gitlab-ci.yml
.gitlab
.git