#alchemy_elements_window {
  width: calc(50% - 48px) !important;
}

#main-content-elements {
  //display: flex;
  .element-editor {
    // max-width: 400px;
    width: calc(100% - 3px);

    &.folded {
      height: 37px;
    }

    &.selected {
      border: 3px solid #eca96e;
    }
    .nestable-elements {
      background-color: #204166;
      //padding: 0 15px;
      padding-left: 15px;
      .element-editor {
        margin: 4px 0;
      }
    }
  }

  .add-nestable-element-button {
    margin: 4px 0;
    &:hover {
      background-color: #eca96e;
    }
  }
}

.elements-window-visible {
  #alchemy_preview_window {
    border: 4px solid #eca96e;
    width: 100vw !important;
    height: 100vh !important;
    left: -23.5vw !important;
    top: 0 !important;
    transform: scale(0.48);
  }
}

.collapsed-menu{
  #left_menu {
    left: -220px;
  }
  #top_menu{
    margin-left: 0 !important;
    padding-right: 0 !important;
  }

  #main_content{
    padding-left: 10px !important;
  }
  #open_menu{
    i{
      transform: rotate(180deg);
    }
  }

  #alchemy_preview_window{
    width: 100vw !important;
    left: 0;
  }

}

#open_menu{
  position: absolute;
  height: 100%;
  top: 0;
  margin: 0;
  width: 40px;
  padding: 0;
  left: 0px;
  border-radius: 0;
  background-color: #204166;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  i{
    transition: 0.8s all ease-in-out;
  }
}


#left_menu {
  overflow-y: auto;
  width: 220px !important;
  transition: 0.4s left ease-in-out;

}

#top_menu{
  margin-left: 220px !important;
  padding-right: 220px !important;
  transition: 0.4s  all ease-in-out;
  #header{
    padding-left: 40px;
  }
}

#main_content{
  padding-left: 230px !important;
  transition: 0.4s padding-left ease-in-out;
}

#main_navi {
  padding-bottom: 0 !important;
  margin-bottom: 40px !important;
  max-height: initial !important;
}

#logout {
  position: relative !important;
}

.main_navi_entry {
  &.has_sub_navigation {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 27px;
      width: 100%;
      z-index: 2;
      cursor: pointer;
    }
    > a:first-child {
      position: relative;
      padding-right: 10px;
      &:after {
        content: '+';
        color: #ffffff;
        position: absolute;
        right: 8px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
      }
    }

    &.expanded {
      > a:first-child {
        &:after {
          content: '-';
        }
      }
      background-color: #eca96e !important;
    }

    &.expanded {
      .sub_navigation {
        max-height: 500px;
        .subnavi_tab {
          border-left: 1px solid #204166;

          &:before {
            background-color: #204166;
          }
        }
      }
    }

    .sub_navigation {
      position: relative !important;
      opacity: 1 !important;
      visibility: initial !important;
      left: 0 !important;
      padding-left: 45px !important;
      max-height: 0;
      transition: 0.4s max-height ease-in-out;
      overflow: hidden;
      .subnavi_tab {
        border-left: 1px solid #eca96e;
        margin-left: -1px;
        position: relative;
        a {
          max-width: 100% !important;
        }
        &:before {
          content: '';
          background-color: #eca96e;
          height: 1px;
          width: 10px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

}


@media screen and (min-width: 1000px) {
  .collapsed-menu.elements-window-visible #alchemy_preview_window {
    max-width: initial;
  }
}